ion-content{
  --background: rgb(0,42,255);
  --background: linear-gradient(162deg, rgba(0,42,255,1) 0%, rgba(0,228,255,1) 100%);

}

ion-card{
  border: solid rgba(143, 143, 143, 0.404);
  border-radius: 5%;


  --background: rgba(255, 255, 255, 0.445);

  margin: 40vw 5vw 10vw 5vw;
  padding: auto;
  ion-card-title{
    font-size: 8vw;
    color: rgb(0, 0, 0);
    font-size: 8vw;
  }
  ion-item{
    --background:  #ffffff;
    color: rgb(0, 0, 0);

    font-size: 8vw;
    font-size: 4.5vw;
    margin: 0.7vw  0.7vw 0.7vw 0.7vw;
    border-radius: 10px;
    border: solid rgba(143, 143, 143, 0.404);
  }
  ion-button{
    display: flex;
    justify-content: flex-end;
    margin: 5vw  5vw 5vw 40vw;
    border: solid rgba(143, 143, 143, 0.404);
    font-size: 4vw;
  }
}
ion-button{
  display: flex;
  justify-content: center;
  margin-right: 10vw;
  margin-left: 10vw;
  color: #000;
  --background:  #ffffff;
  font-size: 4vw;
  border-radius: 10px;
  border: solid rgba(143, 143, 143, 0.404);
  animation-direction: alternate rolagem;
}
