<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-card-content>

    <ion-button routerLink="../tabs/tab1">Entrar</ion-button>
  </ion-card>

  <ion-button routerLink="../registro">Resistrar-se</ion-button>
  <ion-button>Esqueci a senha</ion-button>

</ion-content>
