ion-content{
  --background: linear-gradient(to right, #0000ff, #ff0000);

}

ion-card{
  border: solid #000;



  --background: linear-gradient(to right, #00009a, #9a0000);
  margin: 50vw 10vw 10vw 10vw;
  padding: auto;
  ion-card-title{
    font-size: 1.5rem;
    color: #fff;
  }
  ion-item{
    font-size: 1rem;
    margin: 0.7vw  0.7vw 0.7vw 0.7vw;
    border-radius: 10px;
    border: solid #000;
  }
  ion-button{
    display: flex;
    justify-content: flex-end;
    margin: 5vw  5vw 5vw 40vw;
    border: solid #000;
  }
}
ion-button{
  display: flex;
  justify-content: center;
  margin-right: 10vw;
  margin-left: 10vw;
  color: #000;
  --background:  #ffffff;

  border-radius: 10px;
  border: solid #000;
  animation-direction: alternate rolagem;
}

@keyframes rolagem {
  0% {
    --background: linear-gradient(to top right, #0000ff, #ff0000);
  }

  10% {
    --background: linear-gradient(to right, #0000ff, #ff0000);
  }

  25% {
    --background: linear-gradient(to right bottom, #0000ff, #ff0000);
  }

  40% {
    --background: linear-gradient(to bottom, #0000ff, #ff0000);
  }

  50% {
    --background: linear-gradient(to bottom left, #0000ff, #ff0000);
  }

  60% {
    --background: linear-gradient(to left, #0000ff, #ff0000);
  }

  75% {
    --background: linear-gradient(to left top, #0000ff, #ff0000);
  }

  85% {
    --background: linear-gradient(to top, #0000ff, #ff0000);
  }

  100% {
    --background: linear-gradient(to top right, #0000ff, #ff0000);
  }
}

