ion-header {
  ion-toolbar {
    color: #000;
    ion-title {
      text-align: center;
      font-size: 8vw;
    }
  }
}

ion-content{
  --background: #c3ffff;
  ion-item-sliding{
    box-shadow: 4px 4px 4px black;
    margin-top: 4vw;
    ion-label{
      font-size: 6vw;
      h1{
        font-size: 8vw;
      }
    }

  }
}
