ion-header {
  ion-toolbar {
    ion-title {
      text-align: center;
      font-size: 8vw;
    }
  }
}

ion-content {
  ion-card {
    margin: 2vw 4vw;
    ion-card-header {
      ion-card-title {
        font-size: 7vw;
      }
    }
    ion-card-content {
      font-size: 5vw;
      ion-icon {
        font-size: 15vw;
        align-items: center;
      }
    }
  }
}
