<ion-header [translucent]="true">
  <ion-toolbar color="color1">
    <ion-title> Sobre o Desenvolvedor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="aa" src="" />
    <ion-card-header>
      <ion-card-title>Vitor Lopes Nunes</ion-card-title>
      <ion-card-subtitle> </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>


  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
</ion-content>
