<ion-header [translucent]="true">
  <ion-toolbar color="color1">
    <ion-title> Sobre o Desenvolvedor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="color2">
  <ion-card>
    <img
      alt="aa"
      src="https://avatars.githubusercontent.com/u/79660123?s=400&u=2663ce6a499293532c18958f87c62e8cd4ba28e5&v=4"
    />
    <ion-card-header>
      <ion-card-title>Vitor Lopes Nunes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Meu nome é Vitor, curso Desenvolvimento de Sistemas integrado com o ensino
      médio na Etec Cidade do Livro.
      <br />
      <a href="https://www.instagram.com/vituuln/"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a href="https://github.com/vitorlopesnunes21"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
      <a href="https://www.linkedin.com/in/vitor-lopes-nunes/"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
    </ion-card-content>
  </ion-card>


</ion-content>
