<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formRegistro">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input
            placeholder="Enter text"
            formControlName="nome"
          ></ion-input>
          <ng-container *ngFor="let erro of mensagens.nome">
            <span
              class="msg-erro"
              *ngIf="formRegistro.get('nome').hasError(erro.tipo) && (formRegistro.get('nome').dirty || (formRegistro.get('nome').touched))"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descrição</ion-label>
          <ion-input placeholder="Enter text" formControlName="descricao"></ion-input>
          <ng-container *ngFor="let erro of mensagens.descricao">
            <span
              class="msg-erro"
              *ngIf="formRegistro.get('descricao').hasError(erro.tipo) && (formRegistro.get('descricao').dirty || (formRegistro.get('descricao').touched))"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Validade</ion-label>
          <ion-input
            placeholder="Enter text"
            formControlName="validade"
          ></ion-input>
          <ng-container *ngFor="let erro of mensagens.validade">
            <span
              class="msg-erro"
              *ngIf="formRegistro.get('validade').hasError(erro.tipo) && (formRegistro.get('validade').dirty || (formRegistro.get('validade').touched))"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Preço</ion-label>
          <ion-input
            placeholder="Enter text"

            formControlName="preco"
          ></ion-input>
          <ng-container *ngFor="let erro of mensagens.preco">
            <span
              class="msg-erro"
              *ngIf="formRegistro.get('preco').hasError(erro.tipo) && (formRegistro.get('preco').dirty || (formRegistro.get('preco').touched))"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>
      </form>
    </ion-card-content>

    <ion-button (click)="salvarRegistro()">Salvar</ion-button>
    <ion-button routerLink="../tabs/tab1">Voltar</ion-button>
  </ion-card>
</ion-content>
